<div style='margin:0 20px;margin-top:20px;width: 80%;text-align:left;'>
	
	<p style='font-size:14px;margin-bottom:-2px;'>{{.Title}}</p>

	{{if ne .FlashMsg "" }}
		<p style='font-size:14px;padding:8px;' class='flash-msg-area'>{{.FlashMsg}}</p>
	{{end}}

	<form action='{{ pref .FormAction }}'>
		<input type="input"  name="Url"          id="Url"         value="{{.ParamUrl}}" >          <br />
		<input type="input"  name="Start"        id="Start"       value="{{.ParamStart}}" >        <br />
		<input type="input"  name="Count"        id="Count"       value="{{.ParamCount}}" >        <br />
		<input type="input"  name="CountryCode"  id="CountryCode" value="{{.ParamCountryCode}}" >  <br />
		<input type="submit" name="submit" id=""       value=" Submit " accesskey="s" >
	</form>

	{{if ne .URL "" }}
		<a href='{{.URL}}'  target='second' >{{.URL}}</a><br>
	{{end}}



	<textarea cols='145' rows='144'>
		{{ .StructDump }}
	</textarea>

	{{ if ne "" .StructDump2 }}
		<textarea cols='145' rows='144'>
			{{ .StructDump2 }}
		</textarea>
	{{end}}



</div>


<script type="text/javascript">
	$( document ).ready(function() {
		// $( '#tab-body input' ).filter(":visible").first().focus();
		$( '#Url' ).focus();
	});
</script>