<div style='margin:0 20px;margin-top:20px;width: 80%;text-align:left;'>
	
	<p style='font-size:14px;margin-bottom:-2px;'>{{.Title}}</p>

	<a target="second" href="http://docs.aws.amazon.com/AlexaTopSites/latest/">Doku Top Sites</a><br/>
	<a target="second" href="http://docs.aws.amazon.com/AlexaWebInfoService/latest/">Doku Site Info</a><br/>
	<a target="second" href="http://www.alexa.com/siteinfo/focus.de">Example data for a single domain</a><br/>
	<a target="second" href="http://www.alexa.com/plans">Amazon Plan</a><br/>
	<a target="second" href="http://s3.amazonaws.com/alexa-static/top-1m.csv.zip">Top Million across all countries</a><br/>

	<br/>
	<br/>

	{{ range $linktext, $url := .Links }}
		<a target="second" href="{{ pref $url }}">{{ $linktext }}</a><br/>
	{{end}}

</div>